<div class="sidebar">
    <h2>Admin Panel</h2>
    <ul>
        <li class="dropdown">
            <span class="dropdown-toggle">Products</span>
            <ul class="dropdown-menu">
                <li><a href="/admin/view-products">View Products</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <span class="dropdown-toggle">Orders</span>
            <ul class="dropdown-menu">
                <li><a href="/admin/orderList">View Orders</a></li>
            </ul>
        </li>
    </ul>
</div>
